@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-col: 2, 14, 28;
  --light-col: 6, 187, 223;
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 3rem;

  --font-bold: 700;
  --font-reg: 400;
  --font-light: 300;

  --animation-transition-timing-function: cubic-bezier(0.18, 0.96, 0.78, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-col: 2, 14, 28;
    --light-col: 6, 187, 223;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
  }
}

body {
  @apply min-h-screen;
  color: rgb(var(--white));
  background: rgb(var(--dark-col));
}

h1 {
  @apply text-5xl font-bold capitalize;
}

h2 {
  @apply text-xl uppercase font-light;
}

p {
  @apply text-base font-light;
}

.button-text {
  font-size: var(--font-size-md);
  font-weight: var(--font-bold);
  color: rgb(var(--light-col));
  @apply uppercase text-right;
}

.button {
  display: flex;
}

.button-line-horizontal {
  @apply h-5 ml-[-3px];
  border-bottom: 1px solid rgb(var(--light-col));
  transition: width 0.8s var(--animation-transition-timing-function);
}

.button-line-vertical-short {
  @apply mt-[20px];
  border-left: 1px solid rgb(var(--light-col));
  transition: height 0.8s var(--animation-transition-timing-function);
}

.button-line-vertical-short-up {
  border-left: 1px solid rgb(var(--light-col));
  transition: height 0.8s var(--animation-transition-timing-function);
}

.button-line-vertical-long {
  @apply mt-[20px];
  border-left: 1px solid rgb(var(--light-col));
  transition: height 0.8s var(--animation-transition-timing-function);
}

@media (hover: hover) {
  .button:hover .button-line-horizontal {
    @apply w-10;
  }
  .button:hover .button-line-vertical-short {
    @apply h-5;
  }
  .button:hover .button-line-vertical-long {
    @apply h-10;
  }
}

.circle-letter {
  font-size: var(--font-size-xl);
  color: rgb(var(--white));
  @apply opacity-100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
