@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-col: 2, 14, 28;
  --light-col: 6, 187, 223;
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;

  --font-bold: 700;
  --font-reg: 400;
  --font-light: 300;

  --animation-transition-timing-function: cubic-bezier(0.18, 0.96, 0.78, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-col: 2, 14, 28;
    --light-col: 6, 187, 223;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
  }
}

body {
  @apply min-h-screen;
  color: rgb(var(--white));
  background: rgb(var(--dark-col));
}

h1 {
  @apply text-5xl font-bold capitalize;
}

h2 {
  @apply text-xl uppercase font-light;
}

p {
  @apply text-base font-light;
}

a {
  color: rgb(var(--light-col));
  @apply font-bold;
}

.main {
  height: calc(100vh - 160px);
  @apply flex flex-col items-end overflow-visible pb-10 px-10 max-w-[400px] m-auto;
}

@media screen and (min-width: 1024px) {
  .main {
    height: calc(100vh - 80px);
    @apply flex-row max-w-[1400px] py-10;
  }
}

.button-text {
  font-size: var(--font-size-md);
  font-weight: var(--font-bold);
  color: rgb(var(--light-col));
  @apply uppercase;
}

.button {
  display: flex;
}

.button-line-horizontal {
  @apply h-5;
  border-bottom: 1px solid rgb(var(--light-col));
  transition: width 0.8s var(--animation-transition-timing-function);
}

.button-line-vertical {
  border-left: 1px solid rgb(var(--light-col));
  transition: height 0.8s var(--animation-transition-timing-function);
}

.technology-button {
  color: rgb(var(--light-col));
  border: 1px solid rgb(var(--light-col));
  background-color: rgba(var(--light-col), 0.2);
  @apply py-1 px-4 rounded-full w-fit font-normal;
}

.technology-button-alt {
  background-color: rgb(var(--light-col));
  @apply text-white font-semibold;
}

.circle-line-element__circle-letter-container {
  transition: all 0.5s var(--animation-transition-timing-function);
  @apply flex flex-col;
}

.circle-line-element__circle {
  @apply bg-white opacity-20 rounded-full w-[120px] h-[120px] cursor-pointer;
}

.circle-line-element__letter-box {
  @apply w-[60px] h-[60px] border-x border-y border-white rotate-45 mt-[-90px] mb-[30px] ml-[30px] cursor-pointer;
}

.circle-letter {
  font-size: var(--font-size-xxl);
  color: rgb(var(--white));
  @apply opacity-100;
}

.circle-line-element__letter {
  font-size: var(--font-size-xl);
  color: rgb(var(--white));
  @apply opacity-100;
}

.projects-overlay {
  background-image: linear-gradient(
    270deg,
    rgb(var(--dark-col)),
    rgb(var(--dark-col)),
    rgb(var(--dark-col), 0)
  );
  @apply absolute w-full h-screen -z-10;
}


@media (hover: hover) {
  .button:hover .button-line-horizontal {
    @apply w-10;
  }
  .button:hover .button-line-vertical-short {
    @apply h-5;
  }
  .button:hover .button-line-vertical-long {
    @apply h-10;
  }
  .social-icon {
    transition: all 0.5s var(--animation-transition-timing-function);
    @apply opacity-50;
  }
  .social-icon:hover {
    @apply opacity-100;
  }
  .circle-line-element__circle-letter-container:hover {
    @apply scale-125;
  }
  .circle-line-element__circle-letter-container:hover .circle-line-element__circle {
    @apply opacity-100;
  }
  .circle-line-element__circle-letter-container:hover .circle-line-element__letter-box {
    @apply border-black;
  }
  .circle-line-element__circle-letter-container:hover .circle-line-element__letter {
    @apply text-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
